<div class="container mt-5 mx-auto w-50">
    <div *ngIf="!addMobileOn && !addAddressOn">
      <div class="card mb-3">
        <div class="card-body">
          <div class="row">
            <div class="col-sm-3">
              <h6 class="mb-0">Full Name</h6>
            </div>
            <div class="col-sm-9 text-secondary">

              {{ userPersonalInfo.username ? userPersonalInfo.username : 'Please Enter Your username' }}
            </div>
          </div>
          
          <div class="row">
            <div class="col-sm-3">
              <h6 class="mb-0">Email</h6>
            </div>
            <div class="col-sm-9 text-secondary">
              {{ userPersonalInfo.email ? userPersonalInfo.email : 'Please Enter your Email' }}
            </div>
          </div>

          
          <div class="row">
            <div class="col-sm-3">
              <h6 class="mb-0">Mobile</h6>
            </div>
            <div class="col-sm-9 text-secondary">
              {{ userPersonalInfo.mobile_number ? userPersonalInfo.mobile_number: 'Please Enter your mobile number' }}
            </div>
          </div>
          
          <!-- <div class="row">
            <div class="col-sm-3">
              <h6 class="mb-0">Address</h6>
            </div>
            <div class="col-sm-9 text-secondary">
              {{ userAddress }}
            </div>
          </div> -->
          
          <!-- <div class="container">
            <h2>Addresses</h2>
            <div class="row">
              <div class="" *ngFor="let address of userAddress">
                <div class="card mb-3">
                  <div class="card-body">
                    <h5 class="card-title">Address {{ address.id }}</h5>
                    <p class="card-text">Address Line 1: {{ address.address_line_1 }}</p>
                    <p class="card-text">Address Line 2: {{ address.address_line_2 }}</p>
                    <p class="card-text">City: {{ address.city.name }}</p>
                    <p class="card-text">Pincode: {{ address.city.pincode }}</p>
                    <p class="card-text">Landmark: {{ address.landmark }}</p>
                  </div>
                </div>
              </div>
            </div>
          </div> -->
          <div class="container">
            <h2>Addresses</h2>
            <table class="table table-bordered table-group-divider table-light">
              <thead>
                <tr>
                  <th>Address Line 1</th>
                  <th>Address Line 2</th>
                  <th>City</th>
                  <th>Pincode</th>
                  <th>Landmark</th>
                </tr>
              </thead>
              <tbody>
                <!-- Iterate over each address -->
                <tr *ngFor="let address of userAddress">
                  <td>{{ address.address_line_1 }}</td>
                  <td>{{ address.address_line_2 }}</td>
                  <td>{{ address.city.name }}</td>
                  <td>{{ address.city.pincode }}</td>
                  <td>{{ address.landmark }}</td>
                </tr>
                <!-- Repeat this row for each address -->
              </tbody>
            </table>
          </div>
          
          <div class="row">
            <div class="col-sm-12">
              <a class="btn btn-info mx-3" (click)="addMobile()">Edit Mobile</a>
              <a class="btn btn-info mx-3" (click)="addAddress()">Add Address</a>
            </div>
          </div>
        </div>
      </div>
  
      <!-- Project Status Section -->
      <div class="row gutters-sm">
        <!-- Project Status Cards Here -->
      </div>
    </div>
  
    <!-- Profile Edit Mode -->
    <div *ngIf="addMobileOn">
      <div class="col-lg-8">
        <div class="card">
          <div class="card-body">
            <div class="row mb-3">
              <div class="col-sm-3">
                <h6 class="mb-0">Mobile</h6>
              </div>
              <div class="col-sm-9 text-secondary">
                <input type="text" class="form-control" [(ngModel)]="userPersonalInfo.mobile_number">
              </div>
            </div>
            <div class="row">
              <div class="col-sm-3"></div>
              <div class="col-sm-9 text-secondary">
                <button class="btn btn-primary px-4" (click)="addMobileSubmit()">Save Changes</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="addAddressOn">
      <div class="col-lg-8">
        <div class="card">
          <div class="card-body">
            <div class="row mb-3">
              <div class="col-sm-3">
                <h6 class="mb-0">Address Line 1</h6>
              </div>
              <div class="col-sm-9 text-secondary">
                <input type="text" class="form-control" [(ngModel)]="userAddressUpdate.address_line_1" required>
              </div>
            </div>
            <div class="row mb-3">
              <div class="col-sm-3">
                <h6 class="mb-0">Address Line 2</h6>
              </div>
              <div class="col-sm-9 text-secondary">
                <input type="text" class="form-control" [(ngModel)]="userAddressUpdate.address_line_2">
              </div>
            </div>
            <div class="row mb-3">
              <div class="col-sm-3">
                <h6 class="mb-0">Landmark</h6>
              </div>
              <div class="col-sm-9 text-secondary">
                <input type="text" class="form-control" [(ngModel)]="userAddressUpdate.landmark">
              </div>
            </div>
            <div class="row mb-3">
              <div class="col-sm-3">
                <h6 class="mb-0">Main Address ?</h6>
              </div>
              <div class="col-sm-9 text-secondary">
                <input type="checkbox" class="form-check-input" [(ngModel)]="userAddressUpdate.isDefault">
              </div>
            </div>
            <div class="row mb-3">
              <div class="col-sm-3">
                <h6 class="mb-0">State</h6>
              </div>
              <div class="col-sm-9 text-secondary">
                <select class="form-control" [(ngModel)]="selectedState" (change)="getStateCities()" required>
                  <option value="" disabled selected>Select State</option>
                  <!-- Iterate over states to populate options -->
                  <option *ngFor="let state of states" [value]="state.id">{{ state.state_name }}</option>
                </select>
              </div>
            </div>
            <div class="row mb-3">
              <div class="col-sm-3">
                <h6 class="mb-0">City</h6>
              </div>
              <div class="col-sm-9 text-secondary">
                <select class="form-control" [(ngModel)]="userAddressUpdate.cityId" required>
                  <option value="" disabled selected>Select City</option>
                  <!-- Iterate over cities to populate options -->
                  <option *ngFor="let city of cities" [value]="city.id">{{ city.city_name }}</option>
                </select>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-3"></div>
              <div class="col-sm-9 text-secondary">
                <button class="btn btn-primary px-4" (click)="addAddressSubmit()">Save Changes</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
  

  